snippet infofile
	; $Id$
	name = ${1:Name}
	description = ${2:Description}
	core = 6.x
	; package = xxxxx
	; dependencies[] = xxxxx

snippet modulefile
	<?php
	// $Id$

	/**
	 * @file
	 * ${1:Description of module}
	 */
